jaxws_spring/wsdl/HelloService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://myws/" xmlns:tns="http://myws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="name" type="tns:name"/>

  <xs:element name="nameResponse" type="tns:nameResponse"/>

  <xs:complexType name="name">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="nameResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

